body {
  background-color: black;
}
h1 {
  text-align: center;
  font-family: Times New Roman;
}
h2, p {
  font-family: Times New Roman;
}
li {
  list-style-type: square;
}
section {
  width: 100%;
  margin: 0.3em auto;
}
#current-page {
  text-decoration: underline overline;
  color: #fff;
}
#face {
  float: right;
  margin-right: 4em;
}
#nav-bar {
  background-color: gray;
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#nv-container {
  list-style-type: none;
}
#nv-container ul {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 50%;
}
#nv-container ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  padding: 0 2em;
}
#nv-container ul li:hover {
  background-color: #000;
}
#nv-container ul li a{
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}
.p_center {
  text-align: center;
}
#sudoku {
  width: 150px;
  height: 150px;
}
